# Development settings
BASE_URL="URL OF THE PROJECT FOLDER"
# Cron and images 
CRON_URL=${BASE_URL}cronjob/
CRON_IMG_URL=${CRON_URL}images/
CRON_PROC_IMG_URL=${CRON_IMG_URL}processed/
MODELS_FOLDER_URL=${CRON_URL}models/

# Server, src, temp_images
SERVER_URL=${BASE_URL}server/
SRC_URL=${SERVER_URL}src/
SRC_IMG_FOLDER_URL=${SERVER_URL}images/